{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mx-auto mt-4">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} p-4 mb-4 text-sm text-{{ category }}-700 bg-{{ category }}-100 rounded">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" class="container mx-auto mt-5 max-w-md" novalidate>
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="mb-4">
            <label for="usuario" class="block text-gray-700">Usuario</label>
            {{ macros.campoNuevo(form.usuario, class='w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500') }}
        </div>

        <div class="mb-4">
            <label for="password" class="block text-gray-700">Contraseña</label>
            {{ macros.campoNuevo(form.password, class='w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500') }}
        </div>

        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Iniciar Sesión
        </button>
    </form>
    


  
</body>

</html>